@page "/"
<div style="min-height: 30vh;"></div>
<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="bienvenida-box p-4 shadow-lg rounded-4 text-center">
        <h1 class="display-5 mb-3" style="color: #ff9800; text-shadow: 1px 1px 4px #b36b00;">Bienvenido a la tienda de juegos digitales</h1>
        <p class="lead">Por favor, disfruta de nuestro catálogo existente.
                        y siéntete libre de explorar los productos disponibles.
        </p>
    </div>
</div>
