@page "/"
<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 70vh;">
    <h1 class="display-4 text-center mb-4" style="color: #ff9800; text-shadow: 1px 1px 4px #b36b00;">Bienvenido a la tienda de juegos digitales</h1>
    <p class="lead text-center"><h1> Bienvenido a nuestra tienda online.</h1></p>
    <p class="text-center">Aquí encontrarás una amplia variedad de juegos digitales para disfrutar en tu tiempo libre.</p>
    <p class="text-center">Explora nuestros productos y encuentra tus juegos favoritos.</p>
    <p class="text-center">¡Gracias por visitarnos!</p>
</div>
