@inherits LayoutComponentBase

<div class="page">
    <header class="topbar">
        <div class="container-fluid d-flex align-items-center justify-content-center">
            <h2 class="text-white fw-bold display-5 my-3" style="letter-spacing:2px;">Tienda de Electrodomésticos</h2>
        </div>
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>